<div class="container-fluid">
    <div class="form-group clearfix">
        <label for="template-name">Template Name</label>
        <input type="text" class="form-control" id="template-name" [(ngModel)]="templateInfo.name" placeholder="Enter the Template Name">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="template-editor">
        <ejs-richtexteditor
            id='defaultRTE'
            [inlineMode]='inlineMode'
            [toolbarSettings]='tools'
            [height]="editorHeight"
            [value]="templateInfo.value"
            (change)="getTemplateValue($event)"
        >
        </ejs-richtexteditor>
    </div>
    <div class="footer-buttons float-right">
        <button type="button" class="btn btn-danger" (click)="saveTemplate()">
            <span class="fa fa-close"></span> Cancel
        </button>
        <button type="button" class="btn btn-warning" (click)="saveTemplate()">
            <span class="fa fa-save"></span> Save
        </button>
    </div>
</div>