<div class="container">
    <div class="header clearfix">
        <h3 class="float-left">Templates</h3>
        <div class="col-md-3 float-left">
            <select class="form-control" placeholder="Select Category" [(ngModel)]="selectedCategory" (change)="onCategoryChange();">
                <option disabled value="">Select Category</option>
                <option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </option>
            </select>
        </div>
        <button type="button" class="btn btn-warning float-right" (click)="manageTemplate('new')">
            <span class="fa fa-plus"></span> Create Template
        </button>
    </div>
    <div class="template-container row">
        <div class="col-lg-4" *ngFor="let template of templates">
            <div class="card text-white mb-3" [ngClass]="getClassName(template.id)" (click)="manageTemplate(template.id)">
                <div class="card-body">
                    <h4 class="card-title">{{template.name}}</h4>
                    <p class="card-text">Some quick example text to build on the template and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>